#maindiv{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 1500px;
}
#child1{
    width: 70%;
    padding: 50px;
    margin: 30px;
}
#child2{
    width: 28%;
     padding: 50px;
     margin: 30px;

}
.child{
    display: grid;
    border: 1px solid black;
   
}