#outer{
width:500px;
height: 50px;
border: 1px solid black;

#inner{
    height:50px;
}
}
#outer:hover{
    #inner{
        animation: myAnimation 3s linear;
    }
}
@keyframes myAnimation{
    0%{
        width: 0%;
        background-color: red;
    }
    50%{
        width:50%;
        background-color: yellow;
    }
    100%{
        width:100%;
        background-color: #0cee6a;
    }
}
