@import "tailwindcss";

:root {
  /* Primary */
  --color-primary: #ee3b3b;
  --color-primary-hover: #0F163F;

  /* Secondary */
  --color-secondary: #de6c3a;
  --color-secondary-hover: #D85F2E;

  /* Background & Text */
  --color-background: #BBE0EF;
  --color-text: #161E54;

  /* Accent */
  --color-accent: #FF986A;
}