#BigDaddy {
  border: 1px solid black;
  width: 700px;
  height: 700px;
  background-color: aquamarine;
}

#mainDiv {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  justify-content: center;
  align-items: end;
  justify-items: center;
  width: fit-content;
  border: 1px solid black;
  gap: 10px;
}
.subDiv {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  background-color: rgba(42, 61, 165, 0.758);
  display: flex;
  align-items: center;
  justify-content: center;
}
