#db {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  position: absolute;
  animation: move 1.5s linear infinite;
}
@keyframes move {
  0% {
    top: 0px;
    left: 0px;
    background-color: violet;
  }
  25% {
    top: 0px;
    left: 500px;
    background-color: indigo;
  }
  50% {
    top: 500px;
    left: 500px;
    background-color: blue;
  }
  75% {
    top: 500px;
    left: 0px;
    background-color: green;
  }
  100% {
    top: 0px;
    left: 0px;
    background-color: yellow;
  }
}

#d2{
    border: 1px solid black;
    font-size: x-large;
    width:100px;
    height: 50px;
    transform: rotateZ(90deg);
}
